@page "/"
@using DemoModels.Models;
@using BlazorApp1.Services;
@inject IEmployeeService empService;

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

@code{
    private List<Employee> empList = new List<Employee>();
    protected override async Task OnInitializedAsync()
    {
        await GetEmployees();
    }
    private async Task GetEmployees()
    {
        empList = await empService.GetEmployees();
    }
}
